* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

p{
  font-size: 25px;
}


.text-contents{
  font-size: 25px;
}





/*ハンバーガーメニュー*/
.menu-btn {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color:  rgba(34, 49, 52, 0.9);
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: rgba(34, 49, 52, 0.9);
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(34, 49, 52, 0.9);
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
left: 0;/*メニューを画面内へ*/
}

/*ハンバーガーメニュー*/


















  .top-wrapper {
    padding-top: 70px;
    background-image: url("img/stg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-align: right;
    height: 700px;
    border:solid 1px pink;
  }

 
  
  .top-wrapper h1 {
    color:red;
    opacity: 1;
    font-size: 45px;
    letter-spacing: 5px;
      }
.logo2{
  width: 300px;
}
  .top-wrapper p {
    opacity: 0.7;
    text-align:right;
  }
  
  .btn-wrapper {
    text-align: right;
    }
  

  .anan{
    margin-top: 640%;
    border-radius: 1px;
  }
 /*  .instagram {
    background-color: #d71d61;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }*/
  
  .btn {
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 12px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.902);
    position :fixed;
    top: 0;
    z-index: 10;
  }
 
  .logo {
    width: 124px;
    margin-top: 5px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* menu-iconのCSSを貼り付けてください */
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* displayをnoneに指定してください */
    display:none;
  }
  
  .lesson-wrapper {
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #000000;
    text-align: center;
  }
  .container p{
  font-weight: normal;
  color:#eee;
  }
  .container h3{
    font-weight: normal;
    color:rgb(246, 232, 41);
    }
  .heading {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    color:#eee;
  }
  .heading h3 {
    font-weight: normal;
    color:rgb(237, 237, 8);
  }
  .heading p {
    padding-bottom:50px;
  }

  
  .lesson {
    float: left;
    width: 33%;
  }
  
  .lesson-icon {
    position: relative;
  }
   /* 
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  */
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
  }
  

  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color:rgb(88, 87, 90);
  }
  
  .message {
    padding: 15px 40px;
    background-color: #459b75;
    box-shadow: 0 7px #6fc58c;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color:#000000;
  }










/* アクセス */
.ACCESS {
  padding: 200px 100px;
  background-color: #000000;
  color:#eeeeee;
  text-align: center;
}
.ACCESS h1 {
  font-size: 42px;
  color: rgb(241, 38, 45);
}
iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}







/* コンタクト */
.CONTACT {
  padding-top:100px;
  background-color: #000000;
  color:#eeeeee;
  text-align: center;
  height: 1300px;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  border: none;
}






/* システム */
.container p{
  font-weight: normal;
  color:#eee;
  }
  .heading {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h1 {
    font-size: 42px;
    color: rgb(241, 38, 45);
  }
  .heading h3 {
    font-weight: normal;
    color:#eee;
  }
  .heading p {
    padding-bottom:50px;
  }

  
  .lesson {
    float: left;
    width: 33%;
  }
  
  .lesson-icon {
    position: relative;
  }
   /* 
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  */
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
  }
  











  /* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  
    footer {
      text-align: center;
    }
  
    .top-wrapper h1 {
      font-size: 32px;
    }
  
    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* スマホ向けレイアウト */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    .logo2{
      width: 150px;
    }
    .anan{
      margin-top: 430%;
      border-radius: 1px;
      height: 40px;
      width: 40px;
    }
  
    .facebook {
      margin-bottom: px;
    }
    
    .top-wrapper {
      text-align:0;
      height: 400px;
    }
  
    /* header-rightクラスのdisplayをnoneに指定してください */
    .header-right{
      display:none;
    }
    
    /* menu-iconクラスのdisplayをblockに指定してください  */
    .menu-icon{
      display:block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      display: block;
    }
  
    .top-wrapper p {
      display: none;
    }
  }

   /* .ACCESS {
    padding: 100px 10px;
    background-color: #222222;
    color:#eeeeee;
    text-align: center;
    border:solid 1px red;
  }*/
